{% extends 'base.html' %}
{% block body %}
    <h1>Gerenciamento</h1>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ question.question_text }}
                <a href="{% url 'mudar_status' question.id %}" class="pull-right confirmation" role="button">
                    {% if question.closed %}
                        Abrir questão
                    {% else %}
                        Fechar questão
                    {% endif %}
                </a>
            </h3>
        </div>
        <ul class="list-group">
            {% for choice in choices %}
                <li class="list-group-item">
                    {{ choice.choice_text }}
                    <a href="{% url 'remove' choice.id %}" class="confirmation pull-right">Remover</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'index' %}" class="btn btn-info" role="button">Voltar</a>


    <script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Você tem certeza?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
    </script>
{% endblock %}
