{% extends 'base.html' %}
{% block body %}
    <h1>Questão</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ question.question_text }}</h3>
        </div>
        <ul class="list-group">
            {% for choice in choices %}
                <li class="list-group-item">{{ choice.choice_text }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if question.closed %}
        <a href="{% url 'result' question.id %}" class="btn btn-default" role="button">Resultado</a>
    {% else %}
        <a href="{% url 'vote' question.id %}" class="btn btn-default" role="button">Votar</a>
    {% endif %}
{% endblock %}